* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin:4rem;
    font-family: 'helvetica neue',Helvetica,Arial,Lucida,sans-serif;
}

li{
    list-style-type: none; 
    display:block;
}

ul{
    padding:1.2rem;
    padding-top:0;
}
.container{
        background-image: url("../images/iphone.png");
        background-repeat: no-repeat;
        background-size: 18rem 33rem;
        width: 20rem;
        height: 32.3rem;
        overflow: auto;
}

.items{
    display:flex;
    flex-direction: column;
}

.logo{
    width: 15.7rem;
    padding-left: 1.2rem;
    padding: 19px;
    padding-top: 2.5rem;
    padding-bottom: 0rem;
}

.person{
    display:flex;
    flex-direction: row;
    border-bottom: 5px solid #2f4861;
    max-width: 15rem;
    padding:.3rem;

}

.avatar{
    height: 50px;
    width: 50px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid rgb(24, 180, 194);
}

.situation{
    display:flex;
    flex-direction: column;
    padding-left:.7rem;
    padding-bottom: 0;
}

h6{
    margin-top:.2rem;
}
.idnum{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}
.problem{
    padding-right:1rem;
}

p{
    border-radius: 50%;
    border: 2px solid rgb(24, 180, 194);
    font-size:.4rem;
}

/* -------------- logo Personal */
.avatar-personal{
    height: 90px;
    width: 90px;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    border: 4px solid rgb(24, 180, 194);
    margin-top: 2rem;
    margin-left: 6rem;
    margin-right: 4rem;
   
}
.personal{
    border-bottom: 5px solid #2f4861;
    width: 15rem;
    padding:.3rem;
}
.patients{
    display:flex;
    flex-direction: column;
    max-width: 15rem;
}

